.chat__messages {
    flex: 1;
    align-items: flex-end;
    overflow-y: scroll;
}

.chat__messages::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.chat__messages::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}

.chat__messages::-webkit-scrollbar-track {
    background: linear-gradient( 
90deg
 ,#d2d1d1,#f7f4f4 1px,#e4e2e2 0,#fff);
}

.message {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fff;
}

.message__info {
    margin-left: 20px;
}

.message__timestamp {
    color: grey;
    margin-left: 20px;
    font-size: x-small;
}