.chat{
    display: flex;
    flex-direction: column;
    flex: 0.75 1;
    background-color: #363a3f;
    height: 100vh;
}

@media (max-width:750px) {
    .chat{
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: #363a3f;
        /* height: 100vh; */
    }
}